<!-- <%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>

<body>
<h1><%= title %></h1>
<p>Contact us at purduepete@example.com</p>
<%- include('../partials/footer.ejs') %>
</body>
</html>
-->


<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>

<body>
  <div class="mt-4 p-5 bg-warning text-white rounded">
    <h1><%= title %></h1>
  </div>

  <div class="container my-3">
    <p>Contact us at purduepete@example.com</p>
  </div>

  <%- include('../partials/footer.ejs') %>
</body>
</html>

